[worldserver]

###################################################################################################
# 1V1 ARENA CONFIG
#
#     Arena.1v1.Enable
#         描述: 启用1v1竞技场。
#         默认:     0 - （禁用）
#                      1 - （启用）

Arena1v1.Enable = 1

#    Arena1v1.Announcer
#        描述: 将1v1竞技场排队状态通告给聊天。
#                      必须启用Arena.QueueAnnouncer.Enable。
#        默认:     0 - （禁用）
#                     1 - （启用）

Arena1v1.Announcer = 1

#
#    Arena1v1.MinLevel
#        描述: 创建竞技场队伍的最低等级
#        默认:     80

Arena1v1.MinLevel = 80

#
#    Arena1v1.Costs
#        描述: 创建竞技场队伍的费用
#        默认:     400000 - （40金）

Arena1v1.Costs = 400000

#
#    Arena1v1.VendorRating
#        描述: 如果为真，1v1等级将用于计算最高个人等级（扩展费用）。
#                      注意：商店物品将显示为不可购买（红色），但如果启用且等级足够高，则玩家可以购买它。
#        默认:     0 - （false）
#                     1 - （true）

Arena1v1.VendorRating = 0

#
#    Arena1v1.ArenaPointsMulti
#        描述: 具有1500等级的5v5竞技场队伍每周将获得344点积分（类似暴雪）。
#                      具有相同等级的3v3将获得302点积分（5v5points * 0.88）
#                      2v2将获得261点积分（5v5points * 0.76）
#                      而1v1将获得167点积分（5v5points * 0.64）
#                      使用此乘数，您可以修改1v1的竞技点数。
#        默认:     0.64

Arena1v1.ArenaPointsMulti = 0.64

#
#   Arena1v1.PreventHealingTalents
#       描述: 如果启用，将阻止人们拥有治疗天赋。
#       默认: false
#       值:   false
#                true

Arena1v1.PreventHealingTalents = false

#
#   Arena1v1.PreventTankTalents
#       描述: 如果启用，将阻止人们拥有坦克天赋。
#       默认: false
#       值:   false
#                true

Arena1v1.PreventTankTalents = false

#
#    Arena1v1.ForbiddenTalentsIDs
#        描述: 在竞技场中阻止特定天赋ID的列表。请参见TalentTab.dbc以获取可用天赋（您将需要DBC编辑器）。列表是逗号（,）分隔的，不应包含空格
#           默认:     "0" - （无天赋被阻止）
#           示例:     "201,202,382,362,282,383,163"

Arena1v1.ForbiddenTalentsIDs = "0"

#
#    Arena1v1.ArenaSlotID
#       描述: 1v1将使用的插槽。必须大于或等于3，否则将覆盖2v2、3v3或5v5的数据
#       默认:     3
#       值:
#           2v2 = 0
#           3v3 = 1
#           5v5 = 2
#           1v1 = 3
#

Arena1v1.ArenaSlotID = 3

#
###################################################################################################
